<div class="container">
    <h2>Thanks for ordering from Cafe Ex Machina!</h2>
    <h4>Have a great day!</h4>

    <div id="status">
        <div class="row">
            <div class="col">
                <div class="circle">
                    <div class="check">✔</div>
                </div>
                Recieved
            </div>
            <div class="col">
                <div class="circle"></div>
                Cooking
            </div>
            <div class="col">
                <div class="circle"></div>
                Order Ready
            </div>
        </div>
    </div>
</div>