
<table class="orderTable">
    <tr>
        <th colspan="3">Please Confirm Your Order</th>
    </tr>
    <tr>
        <th *ngFor="let column of headers">
            {{column}}
        </th>
    </tr>
    <tr>
    <tr *ngFor="let row of rows">
        <td *ngFor="let column of headers">
            {{row[column]}}
        </td>
    </tr>

    <tr>
        <td colspan="3" class="break"> </td>

    </tr>
    <tr>

        <td class="totalRows">Subtotal:</td>
        <td class="moneyCol">$XX.XX</td>
    </tr>
    <tr>

        <td class="totalRows">Tax:</td>
        <td class="moneyCol">$X.XX</td>
    </tr>
    <tr>

        <td class="totalRows">Total<br></td>
        <td class="moneyCol">$X.XX</td>
    </tr>
</table>