<p>order-list-page works!</p>
<div>
    <app-item></app-item>
</div>

<table class="orderTable">
    <tr>
        <th colspan="3">Please Confirm Your Order</th>
    </tr>
    <tr>
        <td>Item 1</td>
        <td></td>
        <td class="moneyCol">$10.35</td>
    </tr>
    <tr>
        <td colspan="3" class="break"> </td>

    </tr>
    <tr>

        <td class="totalRows" colspan="2">Subtotal:</td>
        <td class="moneyCol">$XX.XX</td>
    </tr>
    <tr>

        <td class="totalRows" colspan="2">Tax:</td>
        <td class="moneyCol">$X.XX</td>
    </tr>
    <tr>

        <td class="totalRows" colspan="2">Total<br></td>
        <td class="moneyCol">$X.XX</td>
    </tr>
</table>