.mat-card-title
{
    justify-content: center;
}

.mat-grid-tile
{
    background-color: bisque;
}

.mat-card
{
    width: 400px;
    height: 375px;
}

.mat-grid-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}