<div>
    <h2 style="text-align:center">Cafe Ex Machina</h2>

    <mat-grid-list cols="4">

        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Breakfast</mat-card-title><br>
                <img src="assets/images/breakfast.jpg" alt="breakfast items" height="316" width="316">
            </mat-card>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Soups</mat-card-title><br>
                <img src="assets/images/soup.jpg" alt="soups" height="316" width="316">
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Paninis</mat-card-title><br>
                <img src="assets/images/panini.jpg" alt="hot sandwiches" height="316" width="316">
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="2">

        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Smoothies</mat-card-title><br>
                <img src="assets/images/smoothie.jpg" alt="smoothies" height="316" width="316">
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card>
                <mat-card-title>Cafe Drinks</mat-card-title><br>
                <img src="assets/images/coffee.JPG" alt="cafe items" height="316" width="316">
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>