.mat-card-title
{
    margin-left: 100px;
    margin-right: 100px;
}

.mat-card
{
    width: 400px;
    height: 375px;
    background-color: aquamarine;
}

.mat-grid-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}